<header>
    <ul class="header">
        <li>
            <a class="logo" href="/"><img src="./images/logo.png" alt="Cadastro de Agricultores Sementes"></a>
        </li>
        <li>
            <a href="/cadastroAgricultores">Cadastrar</a>
        </li>
        <li>
            <a href="/ListarAgricultores">Listar</a>
        </li>
    </ul>
</header>