<nav class="navbar">
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/cadastroAgricultores">Cadastrar Agricultor</a>
        </li>
    </ul>
</nav>