*{
    margin: 0%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/agricultura.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: black;
    
}
.header{
    color: white;
}
ul{
    margin-bottom: 5vh;
    display: flex;
    padding: 12px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
}
ul li{
    list-style: none;
    border-radius: 50%;
    background-color: white;
    padding: 2vh;
    flex-direction: row;
    margin-right: 2vh;
}
ul li a{
    color: black;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    top: 30%;
    transform: translateY(-50%); 
    font-weight: bold;
}
a img{
    border: none;
    width: 10vh;
    border-radius: 1vh;
    top: 25%;
    transform: translateY(-40%);
}
h1{
    color: black;
    position: relative;
    text-align: center;
    padding: 15px;
    border-radius: 15px;
    border-bottom: 5px solid rgba(0, 0, 0, 0.6);
    width: 85vh;
    margin: auto; 
}
h2{
    margin-left: 2vh;
}
h3{
    margin-left: 2vh;
    margin-bottom: 34%;
}
.box{
    align-items: center;
    justify-content: center;
    color: rgb(252, 252, 252);
    position: relative;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2%;
    border-radius: 15px;
    border: 1% solid;
    width: 95%;
    margin: auto;
}
.boxlistar{
    justify-content: center;
    color: rgb(252, 252, 252);
    position: relative;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2%;
    border-radius: 15px;
    border: 1% solid;
    width: 80%;
    margin: auto;
}
.listarbox{
    border: 1px solid white;
    padding: 2vh;
}
tr{
    padding: 2px;
    text-align: left;
    margin-right: 2px;
}
thead{
    
    align-items: center;
    justify-content: center;
    text-align: center;
}
.table-primary{
    width: 100%;
    padding: 1%;
    margin: 1%;
}
td th{
    text-align: center;
    justify-content: center;
    padding: 1vh;
}
#btnEditar{
    background-color: rgb(4, 97, 4);
    width: 100%;
    border: 0.1vh solid white;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 1vh;
}
#btnExcluir{
    background-color: rgb(196, 0, 0);
    width: 90%;
    border: 0.1vh solid white;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 3vh;
}
fieldset{
    border: 3px solid rgb(255, 255, 255);
}
legend{
    padding: 10px;
    text-align: center;
    background-color: rgb(18, 100, 7);
    border-radius: 8px;
}
.inputBox{
    position: relative;
}
.inputText{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}
.labelInput{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}
.inputText:focus ~ .labelInput,
.inputText:valid ~ .labelInput{
    top: -20px;
    font-size: 12px;
    color: dodgerblue;
}
#cpf{
    border: none;
    padding: 8px;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
}
#estado{
    color: rgb(78, 78, 78);
    border: none;
    padding: 8px;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
}
#btn{
    background-color: rgb(18, 100, 7);
    width: 20%;
    margin-left: 60%;
    transform: translateX(100%);
    border: none;
    padding: 15px;
    color: white;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
    border-radius: 10px;
}
#btn:hover{
    background-color: rgb(24, 160, 6);
}
footer{
    margin-bottom: 0%;
    margin-top: 5%;
    display: flex;
    padding: 12px;
    color: white;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
}